
/* main css file */

/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/* color themes */
:root {

    /* test theme */
    --primary60: #FFF503;
    --secondary30: #38dbff;
    --callTo10: #ff5d5d;

}



/* index css */
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Koulen', cursive;
    background-color: var(--primary60);
}


.fixed{
        height: 100vh;
        width: 100vw;
        position: fixed;
        display: grid;
        grid-template-columns: 1fr;
}

.empty{
    height: 600vh;
}

#root {

}

canvas {
    justify-self: center;
    align-self: end;
}

/* header css */
.header{
    
}

.header p{
    font-size: 0.9rem;
    text-align: center;
}

.header ul{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
}

/* navbar css */

.header ul{
    list-style: none;
}

.header ul li a{
    text-decoration: none;
}

.active{
    color: Green;
}

/* content css */
.page{
    display: grid;
    grid-template-columns: 1fr;
}

.page h1{
    justify-self: center;
}

/* home page css */
#me {
    height: 40vh;
    justify-self: center;
}

.page p {
    justify-self: center;
    padding: 0;
    margin:0;
}